body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button .svg-search image {
    filter: invert(100%);
    transition: 0.15s ease-in-out;
}

button .svg-search:hover image {
    filter: invert(0%);
}

.svg-search image {
    filter: invert(100%);
    transition: 0.15s ease-in-out;
} 

.svg-search:hover image {
    filter: invert(0%);
}

#returnBlock:hover, #inspectionBlock:hover {
    cursor: pointer;
}

#form-select::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.loading-position {
    position: fixed;
    right: 0;
    z-index: 10;
    background: #fff;
    border-radius: 0.5rem 0 0 0.5rem;
}

.container {
    max-width: 90% !important;
}

.point {
    width: 12px;
    height: 12px;
    background-color: #0d6efd;
    border-radius: 2px;
    position: relative;
    right: 7px;
    top: 11px;
}

.point-uncountable {
    width: 12px;
    height: 12px;
    background-color: #F8F8F8;
    border-radius: 2px;
    position: relative;
    right: 7px;
    top: 11px;
    border: 3px solid #0d6efd;
}

.documentLine {
    border-left: 3px solid #0d6efd; 
    margin: 0px 0px 0px 10px;
}

.finalResults {
    background-color: rgba(33, 37, 41, 0.03);
}

.archiveModeSelect:focus {
    border:0 !important;
    outline: none !important;
    box-shadow: none!important;
}

.documentItem {
    display: flex;
    margin-top: 0.25rem;
}

.documentItem a {
    text-decoration: none;
}

.w-20 {
    width: 20% !important;
}

.w-25 {
    width: 25% !important;
}

.w-33 {
    width: 33% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.changeNameInput {
    background: 0 !important; 
}

.changeNameActiveInput {
    background-color: #e9ecef;
}