.font-10 {
    font-size: 10pt;
}

.printTable {
    table-layout: fixed;
}

.printTable td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    vertical-align: top;
    white-space: normal;
    line-height: 1;
}

.white-space {
    white-space: pre-line !important;
}

.va-middle {
    vertical-align: middle !important;
}

.gumma {
      font-size: 0px;
      line-height: 1em;
     overflow: hidden;
      overflow-wrap: normal;
      word-wrap: normal;
      word-break: normal;
      line-break: auto;
      -webkit-hyphens: none;
      hyphens: none;
      height: 160px;
      width: 30%;
}

.printInputField {
    display: inline !important;
    padding: 0 !important;
    text-align: center !important;
    line-height: 1!important;
}

@media screen {
    .print-padding {
        padding-top: 5rem !important;
    }

    #print_panel {
        font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    hr {visibility: hidden;}
}


@media print {
    #print_panel {
        display: none !important;
    }
    #print-padding {
        padding-top: 0 !important;
    }

    .printInputField {
        border: 0 !important;
    }

    hr {PAGE-BREAK-AFTER: always; visibility: hidden;}
}

